# Environment variables
.env
.env.local
*.env

# Operating System Files
.DS_Store
Thumbs.db

# Logs and databases
*.log
logs/
*.sqlite
*.db

# Temporary files & caches
tmp/
temp/
__pycache__/
*.pyc
.cache/

# IDE files
.vscode/
.idea/

# Uploads & Media (Mautic assets)
docroot/media/files/*
!docroot/media/files/index.html
docroot/app/logs/*
!docroot/app/logs/index.html
